* {
    margin: 0;
    padding: 0;
  }
  .Herosection {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    img{
      width: 1000px;
    }
  }
  .Hometext {
    border: 1px solid blue;
    width: 45%;
    text-align: center;
  
    h1 {
      font-family: "Inter", sans-serif;
      font-size: 100px;
      margin-top: 50px;
      padding: 17px 0;
    letter-spacing: -0.050em;
      /* border: 1px solid green; */
      /* width: 40%; */
      font-weight: 600;
      text-align: center;
    }
    p {
      font-family: "Inter", sans-serif;
      font-size: 27px;
      margin: 15px 0;
      margin-left: 150px;
      /* border: 1px solid greenyellow; */
      width: 60%;
      text-align: center;
      color: #464853;
    }
    img{
      margin: 25px;
      width: 38%;
  
  }
  }
  