

.profile{
    /* border: 2px solid red; */
    text-align: center;
    /* width: 20%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #00203FFF; */

    p{
        font-size: 20px;
        font-weight: 400;
    }
   
}



.profileImage{
    width: 300px;
    /* height: 250px; */
}
